main {
    margin: 80px auto;
}

.category {
    margin-bottom: 80px;
}

.category-info h1 {
    border-bottom: 2px solid #D0112B;
    width: 177px;
    margin: auto;
    padding-bottom: 8px;
    text-align: center;
    align-items: center;
}


.category-info {
    margin-bottom: 40px;
}

.categoryContents {
    display: flex;
    flex-wrap: wrap;
}


.contents {
    height: 300px;
    width: 280px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    margin: auto;;
    text-align: center;
    margin-bottom: 24px;
    
}

.contents a :hover {
    color: #48433D;
    filter: brightness(75%);
}

.contents a {
    color: black;
    width: 280px;
}

.contents img {
    width: 280px;
    height: 240px;
    object-fit: cover;
    object-position:60% 100%;
}

